body
{background-color:#000;
margin:0px;
padding:0px;
}

#websit
 {
	background-size: 100% 100%;
} 
#head{z-index: 999;position: fixed; width:100%;}
#head  ul
{
opacity:0.9;
background-color:#5D5E67;
width:100%;
margin:0px;
padding:0px;
height:60px;
}
#head  ul li  a
{
display:block;
font-size:150%;
font-family:Cursive;
text-align:center;
padding:13px 0px;
text-decoration: none;
color:#000;
}
#head ul ul{position:absolute; visibility:hidden;}
#head ul li:hover ul{visibility:visible;}
#head ul li a.home{  background-color:#FC6A21; color:#fff; box-shadow: 0px 0px 15px #fff;  font-size:175%;  border-radius:0px  0px 10px 10px;}
#head  li
{  
float:left;
display:block;
width:161px;
list-style:none;
position:relative;       
background-color:#5D5E67;   
border-radius:0px  0px 10px 10px;                  
}
#head .liimg
{
padding:0px;
margin:0px;
text-decoration: none;
display:block;
opacity:1 ;
}
.liimg img {height:133px; width:184px; margin:0px; position:absolute; right:-42px; }
#head a:hover{ background-color:#0C0C0B; color:#fff; box-shadow: 0px 0px 15px #fff;  font-size:175%; border-radius:0px  0px 10px 10px;}
#head a:active{ background-color:#FC6A21; color:#fff; box-shadow: 0px 0px 15px #fff;  font-size:175%;  border-radius:0px  0px 10px 10px;}
#footer{display:block; margin:100px 0px 100px 0px; padding:0px; position:relative;}
#footer .search{width:500px; left:500px; display:block; position:relative;  }
#footer .searchbo { display:block; width:500px; margin:0px; padding:16px 0px 0px 400px;  }
#footer .submtb {displa:block; position:absolute; right:396px ; top:0px;}
#footer h1 {color:gray; font-size:30px; text-align:center; margin:50px 0px 0px 0px; font-family: Helvetica, serif;}
#footer h2 {color:gray; font-size:30px; text-align:center; margin: 10px ; font-family:Helvetica, serif; position:relative;}
#footer .som{right:34px; display:block; position:absolute; bottom: 29px;}
